#body
{
    /** Be sure to use your selected colors #051a3f */
    background-color: #000000;
}

.title
{
    background-color: #fd8922;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    color: black;
    text-align: center; 
}

h3{
    text-align: center; 
}